// Custom styles.
body {
  font-family: Menlo, Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}

blockquote {
  padding: 10px 15px !important;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-left: 4px solid #999999 !important;
  word-break: break-word;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
}

.main {
  background-color: #f6f6f6;
  padding-bottom: 10px;
  +mobile() {
    padding-bottom: 0px;
  }
}

.main-inner {
  +mobile() {
    margin 0px 0px;
  }
}

.content {
  //background: white;
}

li {
  display: inline-block;
}



.nav li {
  display: block;
}

.footer {
  position: relative;
}

// code
pre .keyword, pre .javascript .function {
  color: #d31895;
}

pre .title, pre .css .hexcolor {
  color: #00a0ff;
}

.post pre, .post .highlight {
  font-family: Menlo, "Input Mono", "PT Mono", Consolas, Monaco, monospace;
  background: #232323;
  font-size 14px;
  color: #fff;
}

.post code {
  color: #c25;
}

.header-inner > a {
  border-bottom 0px;
}

// nav
#menu-logo {
  width: 36px;
  height: 36px;
  margin-top: 9px;
  border-radius: 50%;
  +mobile() {
    margin-top: 6px;
  }
}

// article
.post {
  padding 40px 20px;
  //padding-top: 40px;
  //padding-bottom: 40px;
  margin-bottom: 10px;
  background: white;
}

.post-title-link {
    font-size: 28px;
}

.post-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

p img {
  max-width: 80%;
}

