// Custom styles.
body {
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.main {
  background-color: #333;
}

.content {
  background: white;
}

li {
  display: inline-block;
}

h2, h3, h4, h5, h6 {
  margin: 20px 0 20px;
}

.nav li {
  display: block;
}

.footer {
  position: relative;
}

// code
pre .keyword, pre .javascript .function {
  color: #d31895;
}

pre .title, pre .css .hexcolor {
  color: #00a0ff;
}

.post pre, .post .highlight {
  font-family: Menlo, "Input Mono", "PT Mono", Consolas, Monaco, monospace;
  background: #232323;
  font-size 14px;
  color: #fff;
}

.post code {
  color: #c25;
}

// nav
#menu-logo {
  margin-top: 8px;
  border-radius: 50%;
}

