// Custom styles.
pre .keyword, pre .javascript .function {
  color: #d31895;
}

pre .title, pre .css .hexcolor {
  color: #00a0ff;
}

.post pre, .post .highlight {
  font-family: Menlo, "Input Mono", "PT Mono", Consolas, Monaco, monospace;
  background: #232323;
  font-size 14px;
  color: #fff;
}
